.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  max-width: 70%;
  margin: auto;
}

.Title{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

@media(max-width: 600px){
  .App{
     max-width: 90%;
  }

  .Title{
     font-size: 1rem;
     margin-top: 2rem;
  }
}